*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-width: 100vw;
    width: auto !important;
    background:	#b0c4de ;
}
.divbutton{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
    color: black;
    text-align: center;
}
.divbutton button{
    margin-bottom: 20px;
    margin-left: 230px;
    margin-right: 230px;
    background-color: #b0c4de;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
}
.divbutton button:focus{
    margin-bottom: 20px;
    margin-left: 230px;
    margin-right: 230px;
    background-color: #738192eb;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

.divbutton p{
    font-size: 12px;
    margin: 35px;
    margin-left: 230px;
    margin-right: 230px;
}
.container{
    width: 430px;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}
.container h1{
    color: #b0c4de;
    font-size: 30px;
    font-weight:600 ;
    text-align: center;
}
.container h2{
    color: #b0c4de;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.row ul{
    color: #e89090;
    font-size: 15px;
    text-align: left;
    margin-top: 15px;
    margin-left: 31px;
    padding: 5px 5px;
    align-items: center;
    justify-content: center;
}
.container form{
    height: 300px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px dashed #b0c4de;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number]:focus {
    text-align: center;
    padding: 10px 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 20px;
    background-color: #b0c4de
}
input[type=number] {
    text-align: center;
    border-radius: 20px;
    padding: 10px 10px;
    border: 2px solid #b0c4de;
}
.asp{
    margin: 5px;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    text-align: center;
    display: block;
    position: absolute;
    padding-left: 27px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 20px;
}
.asp input {
    align-items: center;
    justify-content: center;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    border-radius: 20px;
    
}
.checkmark {
    margin-left: 5px;
    align-items: center;
    justify-content: center;
    position: absolute;
    padding-left: 20px;
    top: 0;
    left: 0;
    height: 10px;
    width: 10px;
    background-color: #b0c4de;
    border-radius: 20px;
}
.asp:hover input ~ .checkmark {
    align-items: center;
    justify-content: center;
    background-color: black;
}
.asp input:checked ~ .checkmark {
    align-items: center;
    justify-content: center;
    background-color: #738192eb;
    border-radius: 20px;
}
.checkmark:after {
    align-items: center;
    justify-content: center;
    content: "";
    position: absolute;
    display: none;
    border-radius: 20px;
}
.asp input:checked ~ .checkmark:after {
    align-items: center;
    justify-content: center;
    display: block;
    border-radius: 20px;
}

input[type=submit]{
    font-size: 15px;
    background-color: #b0c4de;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
}
input[type=submit]:focus{
    font-size: 13px;
    background-color: #738192eb;
    width: 100%;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 20px 0;
    cursor: pointer;
    font-weight: bold;
}
.info {
    display: none; /* Hide the info box by default */
    width: 200px; /* Set the width of the info box */
    background-color: #eee; /* Set the background color of the info box */
    padding: 10px; /* Set the padding of the info box */
    border: 1px solid #333; /* Add a border to the info box */
    font-size: 14px; /* Set the font size of the text in the info box */
    color: #333; /* Set the text color in the info box */
  }
.container i:active{
    font-size: 60px;
    color:  #738192eb;
    cursor: pointer;
}

.container i{
    font-size: 80px;
    color:  #b0c4de;
    cursor: pointer;
}
.cont{
    width: 430px;
    padding: 30px;
    background: #fff;
    border-radius: 20px;
}
.cont h2{
    color: #b0c4de;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}
.cont h1{
    color: #b0c4de;
    font-size: 30px;
    font-weight:600 ;
    text-align: center;
}
.cont .but{
    height: 300px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    border: 2px dashed #b0c4de;
}
.cont button{ 
    background-color: #b0c4de;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.cont button:focus{ 
    background-color: #738192eb;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.cont i{
    font-size: 80px;
    color: white;
    border-radius: 20px;
}
.cont i:focus{
    font-size: 80px;
    color: white;
    border-radius: 20px;

}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}
.footer p{
    font-size: 12px;
    margin: 35px;
    margin-left: 230px;
    margin-right: 230px;
}
.footer a{
    color: black;
    font-weight: bold;
}




