<!DOCTYPE html>
<html lang="en">
    <head>
        <script>
            function changeIcon() {
        var uploading = document.getElementById("downloading");
        var uploaded = document.getElementById("downloaded");
        uploading.style.display = "none";
        uploaded.style.display = "inline";
      }
        </script>
        <style>
        #downloading {
        cursor: pointer;
      }
      #downloaded {
        display: none;
      }

        </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Upload And Scale Image - Scalorbost</title>
        <link rel = "icon" href = 
        "/static/images/img_icon.png" 
                type = "image/x-icon">
          <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/style.css') }}">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        
    <head>
<body>
  <div class="column_toolbar">
    <div class="main_tab">
        <div class="toolbar">
            <a href="/"> 
                <button class="btn" id="menu_btn" onclick="changeIcon()">
                    <i class="material-symbols-outlined">
                        home
                    </i> 
                         </button> 
                            </a>
        </div>
    </div>
</div>
      {% block body %}
        <div class="cont">
            <h1>
              Image Processing
            </h1>
                <h2>
                  Thank You For Using Scalorbost
                </h2>
                  <div class="but">         
                    <a href="{{ url_for('download_file',filename=filename) }}">
                      <button class="btn" id="downloading" onclick="changeIcon()">
                        <i class="material-symbols-outlined">
                          cloud_download
                        </i>
                      </button>
                        <button class="btn" id="downloaded">
                          <i class="material-symbols-outlined">
                            cloud_done
                          </i>
                        </button>
                          </a>    
                    </div>
          </div>
            {% endblock %}
            <footer>
              <div class=" footer">
                  <p class="translate">The content of this site is copyright-protected and is the property of Scalorbost, business concept 
                      is to offer scale images free of charge. Scalorbost has since it was founded in 2022 in istanbul as project for 4th 
                      year student of system programming department at byekoz university.<br><br>
                      
                      <a style="text-decoration:none" href="https://github.com/yousefturin">
                          <img src="/static/images/github.png" alt="buttonpng" id="img_github" style="width: 20px; height: 20px;">
                              </a>
                              <a style="text-decoration:none" href="https://www.linkedin.com/in/yusef-rayyan-b82420199/">
                                  <img src="/static/images/linkedin.png"  alt="buttonpng" id="img_linkedin" style="width: 20px; height: 20px;">
                                      </a>
                                      <a style="text-decoration:none" href="https://www.instagram.com/yusefturin/">
                                          <img src="/static/images/instagram.png"  alt="buttonpng" id="img_instagram" style="width: 20px; height: 20px;">
                                              </a>
                                  
                              <br><br>
                    Turkey | <a href="mailto:muradrayyan@ogrenci.beykoz.edu.tr">contact@Scalorbost.com</a></p>
      
              </div>
          
            </footer>
</body>
</html>