<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        $(document).ready(function () {
            $(document).on('mouseenter', '.divbutton', function () {
                $(this).find(":button").show();
            }).on('mouseleave', '.divbutton', function () {
                $(this).find(":button").hide();
            }).on('click', ':button', function() {
                $(this).parent().remove();
            });
        });
        type="text/javascript">
        $( "#file" ).change(function() {
        $( "#Up" ).click();
        });
        
        function allowDrop(ev) {
            ev.preventDefault();
        }

        function drag(ev) {
            ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text");
            ev.target.appendChild(document.getElementById(data));
        }
    </script>
    <style>
        input[type='number']::placeholder
        {   
            text-align: center;   
        }

    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload And Scale Image - Scalorbost</title>
    <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />


</head>
<body>
        <div class="divbutton">
            <p>
            Your Images will be stored in our servers for study and analyze purposes. 
            Scalorbost use Flusk server with Python were the pictures are processed in PLT 
            librare, store's the images in the server then it get resized either paying 
            attention to the aspect ratio if checked  or not and at the end it get send
             it back to the user.
            </p>
                <button type="button"  id="i" onclick="document.body.removeChild(this.parentNode)">
                    Accept
                </button>
        </div>
<div class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
    <div class="row">
        <h1>Picture Scaling System</h1>          
        <p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul>
                    {% for message in messages %}
                        <li>{{message}}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
        </p>    
    <form action="/" method="POST" enctype="multipart/form-data" >
        <input type="file" id="file" name="file" style="display: none">
            <label for="file" id="uploading"><i class="material-symbols-outlined">cloud_upload
            </i>
            </label>
                <label for="file" id="uploaded"><i class="material-symbols-outlined" style="display: none">cloud_done
                    </i>
                </label>
                    <h2>Browse File to Upload</h2>
    <div class="column">
        
            <input type="number" id="width" name="width"
                min="64" max="3840" placeholder="Width ">
            <input type="number" id="height" name="height"
        min="64" max="2160" placeholder="Height">
        <label class="asp">Contains The Aspect Ratio
            <input type="checkbox" name="asp" checked="checked">
            <span class="checkmark"></span>
          </label><br>

    <div class="row">
        <input type="submit"  id= " submit" value="Upload" class="btn btn-info">
        
    </form>  

</div>
</div>
</div>
</div>
<footer>
    <div class=" footer">
        <p>The content of this site is copyright-protected and is the property of Scalorbost, business concept is to offer scale images free of charge. Scalorbost has since it was founded in 2022 in istanbul as project for 4th year student of system programming department at byekoz university.<br><br>
          Turkey | <a href="muradrayyan@ogrenci.beykoz.edu.tr">contact@Scalorbost.com</a></p>

    </div>

  </footer>
</body>
</html>


 <!--..<style> 
    button:hover + .info {
      display: block; /* Show the info box when the cursor is over the button */
    }
  
    .info {
      display: none; /* Hide the info box by default */
    }
  </style>
  
  <button>Button</button>
  <div class="info">
    This is the info box that will appear when the cursor is over the button.
  </div>.
css code is 
.info {
  display: none; /* Hide the info box by default */
  width: 200px; /* Set the width of the info box */
  background-color: #eee; /* Set the background color of the info box */
  padding: 10px; /* Set the padding of the info box */
  border: 1px solid #333; /* Add a border to the info box */
  font-size: 14px; /* Set the font size of the text in the info box */
  color: #333; /* Set the text color in the info box */
}
-->

  