<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Language" content="en">
</head>
    <script>
            function changeIcon() {
                var menu_btn = document.getElementById("menu_btn");
                menu_btn.style.display = "none";
            }
    </script>
    <style> 
    </style>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title id="title">Image Processing - Scalorbost</title>
        <link rel = "icon" href = 
        "/static/images/img_icon.png" 
                type = "image/x-icon">
        <link rel= "stylesheet" href= "{{ url_for('static', filename='styles/style.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        
    <body>
        {% block body %}
        <div class="column_toolbar">
            <div class="main_tab">
                <div class="toolbar">
                    <a href="/"> 
                        <button class="btn" id="menu_btn" onclick="changeIcon()">
                            <i class="material-symbols-outlined" id="home_ico">
                                home
                            </i> 
                                 </button> 
                                    </a>
                </div>
            </div>
        </div>
        <div class="divbutton">
            <p class="translate">
            Your Images will be stored on our servers for study and analysis purposes. 
            Scalorbost use Flask server with Python where the pictures are processed in PLT 
            library, the store the images in the server then it gets resized either by paying 
            attention to the aspect ratio if checked  or not and at the end it gets sent
             it back to the user.
            </p>
                <button type="button"  id="i" onclick="document.body.removeChild(this.parentNode)">
                    Accept
                </button>
        </div>
        <div class="box_cont" id="box_cont" ondrop="drop(event)" ondragover="allowDrop(event)">
            <div class="box_row">
                <h1>
                    Image Processing
                </h1>
                <div class="box_column">
                    <div class="rescale"> 
                        <a href="/rescale"> 
                            <button class="btn" id="rescaling">
                                <i class="material-symbols-outlined">
                                    photo_size_select_large 
                                </i> 
                                     </button> 
                                        </a>
                                        <p> Scale Image 
                                            <br>
                                        <span>
                                            This is used to scale images base on:
                                            <br>
                                    Up Scale 
                                    <br>
                                    Down Scale
                                    <br>
                                Aspect ratio
                                <br>
                            </span>
                        </p>
                    </div>
                </div>
                    <div class="enhance"> 
                        <a href="/enhance">
                            <button class="btn" style="border-radius: 20px; border: none;" id="enhancing">
                                <i class="material-symbols-outlined">
                                    compare </i> 
                                    </button>
                                    </a>
                                        <p> Enhance Image <br>
                                        <span>This is used to enhance images base on:<br>
                                        Sharpness Factor<br>
                                        Meddian Mask<br>
                                        High Pass<br>
                                 </span>
                             </p>
                    </div>
            </div>
        </div>
        {% endblock %}
    </body>
    <footer>
        <div class=" footer">
            <p class="translate">The content of this site is copyright-protected and is the property of Scalorbost, business concept 
                is to offer scale images free of charge. Scalorbost has since it was founded in 2022 in istanbul as project for 4th 
                year student of system programming department at byekoz university.<br><br>
                
                <a style="text-decoration:none" href="https://github.com/yousefturin">
                    <img src="/static/images/github.png" alt="buttonpng" id="img_github" style="width: 20px; height: 20px;">
                        </a>
                        <a style="text-decoration:none" href="https://www.linkedin.com/in/yusef-rayyan-b82420199/">
                            <img src="/static/images/linkedin.png"  alt="buttonpng" id="img_linkedin" style="width: 20px; height: 20px;">
                                </a>
                                <a style="text-decoration:none" href="https://www.instagram.com/yusefturin/">
                                    <img src="/static/images/instagram.png"  alt="buttonpng" id="img_instagram" style="width: 20px; height: 20px;">
                                        </a>
                            
                        <br><br>
              Turkey | <a href="mailto:muradrayyan@ogrenci.beykoz.edu.tr">contact@Scalorbost.com</a></p>

        </div>
    
      </footer>

</html>

